:root {
  --primaryColor: #F2D7D7;
  ;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  ;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  ;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
}

/* NAVBAR STYLES */
/* BUTTON COLLAPSE ACTIVE */
.collapseButtonActive span {
  background-color: transparent !important;
}

.collapseButtonActive span::before {
  transform: rotate(-46deg) !important;
}

.collapseButtonActive span::after {
  transform: rotate(46deg) !important;
}

ul.noCollapse {
  left: 0% !important;
  transition: 0.2s !important;
}

/* Global styles */
.container {
  padding: 0 2rem;
}

/* SECTION TABLES STYLES */
.tables {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0.7;
  height: 70vh
  }

/* SECTION MAIN STYLES */
